<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django App{% endblock %}</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <header>
        <h1>Welcome to My Django App</h1>
    </header>
    <main>
        {% block content %}
        {% for guitar in guitars %}
            <div class="guitar">
                <h4 style="margin-bottom: -15px;">{{ guitar.name }}</h4>
                <p style="margin-bottom: -15px;">Strings: {{ guitar.strings }}</p>
                <p>Price: ${{ guitar.price }}</p>
            </div>
        {% endfor %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 My Django App</p>
    </footer>
</body>
</html>